@font-face {
  font-family: "SuperMario256";
  src: url(fonts/SuperMario256.ttf);
}
html {
  font-family: "SuperMario256";
}
body {
  margin: 0;
}

header {
  /* background-image: url(images/backgroundHeader.png);
  background-repeat: no-repeat;
  background-size: 500px;
  background-position-y: -200px; */
}

h1 {
  margin: 0;
  display: flex;
  gap: 25px;
  justify-content: center;
  margin-bottom: 30px;
}

main {
  display: flex;
  flex-direction: column;
}

button {
  width: 170px;
  height: 170px;
  border: none;
}

.text,
#score,
#computerScore {
  margin: 0;
}

#interface {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.playerScore,
.computerScore {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-bottom: 15px;
}

#leftSide {
  font-size: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.leftImage {
  width: 400px;
  height: 450px;
  /* background-color: grey; */
}

#rpsImageLeft {
  width: 400px;
  height: 450px;
}

#rightSide {
  font-size: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rightImage {
  width: 400px;
  height: 450px;
  /* background-color: grey; */
}

#rpsImageRight {
  width: 400px;
  height: 450px;
}

#choices {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.red {
  color: red;
  text-shadow: 1px 1px black;
  font-size: 80px;
}

.yellow {
  color: yellow;
  text-shadow: 1px 1px black;
  font-size: 80px;
}

.green {
  color: green;
  text-shadow: 1px 1px black;
  font-size: 80px;
}

.blue {
  color: blue;
  text-shadow: 1px 1px black;
  font-size: 80px;
}

#rock {
  background-image: url(images/rockButton.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
}

#paper {
  background-image: url(images/paperButton.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
}

#scissors {
  background-image: url(images/scissorsButton.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
}

#textPlaceHolder {
  font-size: 18px;
}

