#board {
    width: 1000px;
    height: 1000px;
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: stretch    ;
}

.grid {
    width: 63px;
    border: 1px solid black
}

.hover {
    background: red;
}